body {
    background-color: #8D99AE;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-logo img{
    width: 100px;
    height: 100px;
}

.nav-buttons {
    margin-right: 800px;
    display: flex;
}
.nav-buttons ul li{
    list-style-type: none;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: #2B2D42;
    border-radius: 50px;
    text-align: center;
}

.nav-buttons ul li a {
    color: #F8FCDA;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.qr-holder {
    width: 100px;
    height: 100px;
    border: 3px solid #2B2D42;
    border-radius: 100px;
    text-align: center;
}

.qr-holder a{
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #EF233C;
    font-size: 36px;
}

.qr-content-holder{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    background-color: #2B2D42;
    border-radius: 50px;
    box-shadow: -10px 10px 10px #171823;
}

.qr-content-holder img {
    padding-top: 15px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.qr-content-holder p {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #F8FCDA;
}